asgiref==3.7.2
black==24.2.0
click==8.1.7
crispy-bootstrap4==2023.1
dj-database-url==2.1.0
Django==5.0.2
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
gunicorn==21.2.0
h11==0.14.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
sqlparse==0.4.4
typing_extensions==4.10.0
uvicorn==0.29.0
whitenoise==6.6.0
