{% extends "base.html" %}

{% block content %}
  <h1>
    Task List
    <a href="{% url 'task_manager:task-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  {% include "includes/search_form.html" %}
  
  {% if task_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Priority</th>
        <th>Description</th>
        <th>Deadline</th>
      </tr>

      {% for task in task_list %}
        <tr>
          <td>
            {{ task.id }}
          </td>
          <td>
            <a href="{% url 'task_manager:task-detail' pk=task.id %}">{{ task.name }}</a>
          </td>
          <td>
            {{ task.priority }}
          </td>
          <td>
            {{ task.description }}
          </td>
          <td>
            {{ task.deadline|date:"F j, Y" }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no tasks yet.</p>
  {% endif %}
{% endblock %}
