{% extends "base.html" %}

{% block content %}
  <h1>
    {{ task.name }}
    <a href="{% url 'task_manager:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'task_manager:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Description: {{ task.description }}</p>
  <p>Priority: {{ task.priority }}</p>
  <p>Deadline: {{ task.deadline|date:"F j, Y" }}</p>
  <h1>
    Assignees:
  </h1>
  <hr>
  <ul>
    {% for worker in task.assignees.all %}
      <li>{{ worker.position.name }} {{ worker.first_name }} {{ worker.last_name }}</li>
    {% endfor %}
  </ul>
{% endblock %}
