{% extends 'layouts/base.html' %}

{% block title %} {{ object|yesno:"Update,Create" }} task type {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% load crispy_forms_filters %}
{% block content %}
  {% include "includes/navigation-light.html" %}
  <section class="py-3">
    <div class="container w-50">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="mt-3">{{ object|yesno:"Update,Create" }} task type</h3>
        </div>
      </div>
      <div class="row">
        <form action="" method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Save" class="btn bg-gradient-primary btn-lg">
        </form>
      </div>
    </div>
  </section>
{% endblock %}
